<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button><ng-icon name="matAccountCircle"></ng-icon> Basic</button>
  <button mat-button color="primary"><ng-icon matIconPrefix name="matAccountCircle"></ng-icon> Primary</button>
  <button mat-button color="accent"><ng-icon name="matAccountCircle"></ng-icon> Accent</button>
  <button mat-button color="warn"><ng-icon name="matAccountCircle"></ng-icon> Warn</button>
  <button mat-button disabled><ng-icon name="matAccountCircle"></ng-icon> Disabled</button>
  <a mat-button routerLink="."><ng-icon name="matAccountCircle"></ng-icon> Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Extended FAB</h3>
<div class="example-button-row">
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent"><ng-icon name="matAccountCircle"></ng-icon></button>
  <button mat-fab extended color="warn"><ng-icon name="matAccountCircle"></ng-icon> Warn</button>
</div>
