.header {
  height: var(--size-app-header);
  box-shadow: 0 0 0.4em 4px var(--color-black-transparent);
  padding: 0.2em 0.6em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  font-size: 1.6rem;
  font-weight: bolder;

  .brand-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
  }

  .logo {
    height: calc(var(--size-app-header) * 0.7);
  }

  .title {
    font-size: 2.4rem;
  }

  .nav-container {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-left: 1.5em;

    .nav-item {
      font-size: 1em;
      font-weight: bold;
      padding: 0.2em 0.3em;
      box-sizing: content-box;

      span {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
